{% extends "index.html" %}

{% block title %}會員登入{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">會員登入</div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="password" class="form-label">密碼</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password" required>
                            <button type="button" class="btn btn-outline-secondary toggle-password" id="togglePassword">
                                <i class="bi bi-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-custom">登入</button>
                    <div class="mb-3" style="padding-top:10px;">
                        <a href="{{ url_for('auth.register') }}" class="btn btn-custom-success" >註冊會員</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
