/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
    display: grid;
    place-items: center;
    background-image: url('FoNp_k3WQAEuqZw.jpeg'); /* Background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Wrapper for all page content */
.wrapper {
    width: 100%;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for content */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for better contrast */
    margin-bottom: 20px;
}

/* Title styling */
.custom-title {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px #f4f4f4;
    text-align: center; /* Centers title */
}

/* Inputs and select styling */
input[type="text"], select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Buttons styling */
button {
    background-color: #b0c4b1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4a5759;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0 20px 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent table background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th:nth-child(4), td:nth-child(4) {
    width: 20%;
}

th {
    background-color: #b0c4b1;
    color: white;
}

tr:hover {
    background-color: rgba(241, 241, 241, 0.8); /* Slight transparency on hover */
}
