{% extends "admin/dashboard.html" %}

{% block title %}管理庫存{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>庫存管理</h1>
    <div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>商品編號</th>
                <th>商品名稱</th>
                <th>商品敘述</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_product', product_id=item.id) }}" class="btn btn-sm btn-custom-warning">修改</a>
                    <button class="btn btn-sm btn-custom-danger delete-product" data-product-id="{{ item.id }}">刪除</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
