<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="custom-title">What's Your Zodiac Sign</h1>

    <form action="{{ url_for('create_bp.add_post') }}" method="POST">
        <!-- Nickname input -->
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" required><br><br>

        <!-- Zodiac sign dropdown -->
        <label for="zodiac">Zodiac Sign:</label>
        <select id="zodiac" name="zodiac" required>
            <option value="" disabled selected>Select your zodiac sign</option>
            <option value="aries">Aries</option>
            <option value="taurus">Taurus</option>
            <option value="gemini">Gemini</option>
            <option value="cancer">Cancer</option>
            <option value="leo">Leo</option>
            <option value="virgo">Virgo</option>
            <option value="libra">Libra</option>
            <option value="scorpio">Scorpio</option>
            <option value="sagittarius">Sagittarius</option>
            <option value="capricorn">Capricorn</option>
            <option value="aquarius">Aquarius</option>
            <option value="pisces">Pisces</option>
        </select><br><br>

        <!-- Submit button -->
        <button type="submit">Submit</button>
    </form>

    <!-- Form to delete selected posts -->
    <form action="{{ url_for('delete_bp.delete_posts') }}" method="POST">
    <table border="1">
        <thead>
            <tr>
                <th>Select</th>
                <th>ID</th>
                <th>Nickname</th>
                <th>Zodiac Sign</th>
                <th>Create Date</th>
                <th>Update Date</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for data in posts %}
            <tr>
                <td><input type="checkbox" name="post_ids" value="{{ data.id }}"></td>
                <td>{{ data['id'] }}</td>
                <td>
                    <!-- Field for updating the post -->
                    <input type="text" name="post_{{ data.id }}" class="form-control" value="{{ data.nickname }}" required>
                </td>
                <td>
                    <select name="zodiac_sign_{{ data.id }}">
                        <option value="aries" {% if data.zodiac_sign == "aries" %}selected{% endif %}>Aries</option>
                        <option value="taurus" {% if data.zodiac_sign == "taurus" %}selected{% endif %}>Taurus</option>
                        <option value="gemini" {% if data.zodiac_sign == "gemini" %}selected{% endif %}>Gemini</option>
                        <option value="cancer" {% if data.zodiac_sign == "cancer" %}selected{% endif %}>Cancer</option>
                        <option value="leo" {% if data.zodiac_sign == "leo" %}selected{% endif %}>Leo</option>
                        <option value="virgo" {% if data.zodiac_sign == "virgo" %}selected{% endif %}>Virgo</option>
                        <option value="libra" {% if data.zodiac_sign == "libra" %}selected{% endif %}>Libra</option>
                        <option value="scorpio" {% if data.zodiac_sign == "scorpio" %}selected{% endif %}>Scorpio</option>
                        <option value="sagittarius" {% if data.zodiac_sign == "sagittarius" %}selected{% endif %}>Sagittarius</option>
                        <option value="capricorn" {% if data.zodiac_sign == "capricorn" %}selected{% endif %}>Capricorn</option>
                        <option value="aquarius" {% if data.zodiac_sign == "aquarius" %}selected{% endif %}>Aquarius</option>
                        <option value="pisces" {% if data.zodiac_sign == "pisces" %}selected{% endif %}>Pisces</option>
                    </select>
                </td>
                <td>{{ data['created_at'] }}</td>
                <td>{{ data['last_updated_at'] }}</td>
                <td>
                    <!-- Update button for each post -->
                    <button type="submit" formaction="{{ url_for('update_bp.update_post', post_id=data.id) }}" class="btn btn-success">Update</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Delete Selected</button>
    </form>
    <footer>
        <p>Picture Credit to <a href="https://x.com/Moonchildillus1/status/1622257048766357506/photo/1" target="_blank">Moonchild illustrations</a></p>
    </footer>
    
</body>
</html>
